@model prospekt.tel.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row ">
        <div class="col-xs-offset-2 col-xs-8">
            <form role="form">
                @Html.AntiForgeryToken()
                <fieldset>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Логин пользователя" })
                    </div>
                    <div class="form-group">
                        <select id="OrgId" name="OrgId" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <select id="UserRole" name="UserRole" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserFam, new { @class = "form-control", placeholder = "Фамилия пользователя" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserIm, new { @class = "form-control", placeholder = "Имя пользователя" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserOt, new { @class = "form-control", placeholder = "Отчество пользователя" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Электронная почта" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повтор пароля" })
                    </div>
                    @*<div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>*@
                    <!-- Change this to a button or input when using this as a form -->
                    <input id="submitButton" type="submit" style="margin-left:0" class="btn btn-lg btn-success btn-block" value="Регистрация" />
                </fieldset>
            </form>
        </div>
        @*________________________________________________________________________*@
    </div>
    <script>
        $(document).ready(function () {
            GetOrgsForRegister('#OrgId');
            GetUserRolesForRegister('#UserRole');
            //$("#submitButton").on("click", function (e) {
            //    var token = $('input[name="__RequestVerificationToken"]').val();

            //    var headers = {};

            //    headers['__RequestVerificationToken'] = token;
            //    var dataForReceive = {
            //        UserName: $('#UserName').val()
            //    };
            //    console.log(dataForReceive);
            //    $.ajax('/account/register', {
            //        type: "POST",
            //        headers: headers,
            //        data: dataForReceive
            //    })
            //    e.preventDefault();
            //    return false;
            //});
        })
    </script>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
